@CHARSET "UTF-8";
/* ν•λ‹¨ ν‘Έν„°*/
footer{
	height: 100px;
	margin-top: 30px;
	border-top: solid 1px #bbbbbb;
}
footer #footer_log{
	float: left;
	margin: 5px 0 0 210px;
}
footer #address{
	float: left;
	margin: 20px 0 0 50px;
}
footer #footer_sns{
	float: right;
	margin: 20px 10px 0 0;
}
footer #footer_sns li{
	display: inline;
}







