@CHARSET "UTF-8";
/*왼쪽 콘텐츠 */
aside{
	width: 190px;
	float: left;
}

/*로그인*/
aside #login_box{
	width: 186px;
	height: 120px;
	border: solid 1px #dddddd;
	border-radius: 10px;
	background-color: #f3f3f3;
}
aside #login_title{
	margin: 10px 0 0 10px;
}
aside #input_button{
	margin: 10px 0 0 10px;
}
aside #login_input{
	float: left;
}
aside #login_btn{
	float: left;
	margin: 3px 0 0 5px;
}
aside #login_input input{
	width: 100px;
	height: 20px;
	border: solid 1px #dddddd;
}
aside #login_input li{
	margin-top: 2px;
}
aside #join_search{
	margin: 10px 0 0 5px;
}

aside #guestbook{
	width: 189px;
	height: 135px;
	margin-top: 15px;
	background-color: #eeeeee;
	border: solid 1px #cccccc;
	border-radius:10px;
	box-shadow: 2px 2px 5px #dddddd; 
}

aside #guestbook_title{
	width: 165px;
	padding: 10px 0 0 5px;
	margin: 0 0 0 8px;
	border-bottom: solid 1px #cccccc;
}
aside #guestbook ul{
	margin: 10px 0 0 40px;
}
aside #guestbook li{
	margin-top: 5px;
	list-style-image: url("../img/icon_blue.gif");
}

/*우측 메인 켄텐츠*/
section#main{
	width: 758px;
	float: right;
}

/*공지사항, 자유게시판, YOUTUBE를 포함하는 박스*/
section#main #notice_free_youtube{
	height: 250px;
	position: relative;
	margin-top: 10px;
}
/*공지사항*/
section#main #notice{
	width: 360px;
	position: absolute;
}
section#main .latest_title img.latest_img{
	float: left;
}
section#main .latest_title img.more{
	float: right;
}

/*최근 게시물 이미지와 목록*/
section#main .latest_content .image{
	float: left;
	margin: 10px 0 0 20px;
}
section#main .latest_content .list{
	float: right;
}
section#main .latest_content li{
	padding: 10px 0 0 10px;
}
section#main .latest_content .list div{
	float: left;
}
section#main .latest_content .list .subject{
	width: 170px;
}

/*자유게시판 박스*/
section#main #free{
	width: 360px;
	position: absolute;	
	top: 120px;
}

/*YOUTUBE 동영상 박스*/
section#main #youtube{
	width: 365px;
	height: 250px;
	position: absolute;
	left: 380px;
}
section#main #youtube_img{
	margin: 10px 0 0 45px;
}

/*포토갤러리*/
section#main #gallery_box{
	width: 749px;
	height: 204px;
	margin: 10px 0 0 5px;
	border: solid 1px #cccccc;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #dddddd;
}
section #gallery_list{
	padding: 25px 0 0 18px;
}
section .items{
	float: left;
	text-align: center;
	margin-left: 35px;
}
section .items li{
	margin-top: 3px;
}










